<div class=" container shadow card" [ngSwitch]="success">
    <div class="card-body">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="card-title">Forgot Your Password</h1>
            <div class="alert alert-danger" *ngIf="error">
                <strong>Failed!</strong> The selected email is invalid.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Email address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p> You forgot your password?
                    Don't worry! Give us the email which is used to register your VisaBlog account.
                    We'll mail you a link to reset your password.</p>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <p>Check your emails for details on how to reset your password.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngSwitchCase="false">
        <div class="col-md-10">
            <form name="form" role="form" (ngSubmit)="sendEmail()" [formGroup]="emailSubmitForm" *ngIf="!success">
                
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                             formControlName="email">
                    <div *ngIf="emailSubmitForm.get('email')!.invalid && (emailSubmitForm.get('email')!.dirty || emailSubmitForm.get('email')!.touched)">
                        <small class="form-text text-danger" *ngIf="emailSubmitForm.get('email')?.errors?.required"
                               >
                            Your email is required.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailSubmitForm.get('email')?.errors?.invalid"
                              >
                            Your email is invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailSubmitForm.get('email')?.errors?.minlength"
                              >
                            Your email is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="emailSubmitForm.get('email')?.errors?.maxlength"
                              >
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="emailSubmitForm.invalid" class="btn btn-primary">Send me email</button>
            </form>
        </div>
    </div>
</div>
</div>
